#Handle anchored frame stuff
<typesub aframeid `*' `%11R'>		#store AFrame ID in S11
#When we get a filename, create symbol AFrame#%s where %s is ID of frame,
#set value of that symbol to the filename for the AFrame.
<typesub aframefile `*' `%12R%13"AFrame#"L%13.11"cat"O%12.13"set"O'>
#When we get aframe ref, get symbol from symbol table and insert into output
<typesub aframe `*' `%11R%13"AFrame#"L%13.11"cat"O%12.13"get"O\
<img src="%12r">'>
