#Generate TOC file with Chapter lines in it.

#Switch to next chapter file, clear chapter name (S3), collect into S3
<typesub switchpgf `*.MiftranChapter' `%+1.1F%3L%3S'>
<typesub pgfnumstring MiftranChapter `%2R'>
#While in MiftranChapter, text is going into S3
<typesub string MiftranChapter `%s'>
<typesub tab MiftranChapter `'>
#When we have the whole chapter name, output to xref file, and output
#title and header to chapter file.
<typesub endpgf MiftranChapter `\
%1.2A<li><a href="%f">%2r %3r</a>\n%+0F\
<title>%1r: %2r %3r</title>\n\
<h1>%2r %3r</h1>\n'>

#H2 is not in TOC, just in chapter files.
<typesub pgfnumstring MiftranH2 `%s '>
<typesub startpgf MiftranH2 `<h2>'>
<typesub endpgf MiftranH2 `</h2>\n'>
