#French characters
<stringsub `\\x88 ' `&agrave;'>  # small a, grave accent 
<stringsub `\\x89 ' `&acirc;'>   # small a, circumflex accent 
<stringsub `\\x8e ' `&eacute;'>  # small e, acute accent 
<stringsub `\\x90 ' `&ecirc;'>   # small e, circumflex accent 
<stringsub `\\x8f ' `&egrave;'>  # small e, grave accent
<stringsub `\\x94 ' `&icirc;'>   # small i, circumflex accent 
<stringsub `\\x99 ' `&ocirc;'>   # small o, circumflex accent 
<stringsub `\\x9c ' `&uacute;'>  # small u, acute accent 
<stringsub `\\x9e ' `&ucirc;'>   # small u, circumflex accent 
<stringsub `\\x9d ' `&ugrave;'>  # small u, grave accent 
<stringsub `\\x8d ' `&ccedil;'>  # small c, cedilla 
<stringsub `\\xcf ' `oe'>        # oe
