#Standard include file stuff for miftran
#Uses MIF syntax (well, why not?)

#Before including this file in your miftran.rc, you will typically have
#to specify tagalias commands to map your paragraph and font tags to
#the tags used in this file.

<include `stdhead.rc'>

#We use the string registers as follows:
#S1 document title
#S2 current chapter numstring
#S3 current chapter name
#S4 temp used during building of chapter name
#S5 <ul> string for use before sections in TOC
#S6 </ul> string for use before chapters in TOC (if there were sections)
#S11 AFrame ID
#S12, S13 temps used when working with AFrames
#S14 Variable name
#S15, S16 temps used when working with Variables

#We use the int registers as follows:
#I1 contains the number 1
#I2 counter for index markers

#We use the following alternate output files:
#d1.txt - Table of Contents
#d2.txt - list of cross reference targets for use by fixref
#d3.txt - list of index markers

<include `anchfram.rc'>
<include `vars.rc'>
<include `markers.rc'>
<include `hypertxt.rc'>
<include `chars.rc'>

#Generate table of contents with Chapter and H2 in it.  If you only want
#chapter headings in the TOC, but not H2 headings, use chap1.rc
<include `chap2.rc'>
<include `part.rc'>

<include `stdpgf.rc'>
<include `stdfont.rc'>
<include `preface.rc'>
<include `deflist.rc'>
<include `specials.rc'>

<include `strsub.rc'>	#standard string substitutions
<include `german.rc'>
<include `french.rc'>
<include `spanish.rc'>

#end
