<typesub startfont       MiftranBold `<B>'>
<typesub startfontweight MiftranBold `<B>'>
<typesub endfont         MiftranBold `</B>'>
<typesub startfont       MiftranBoldFixed `<B><TT>'>
<typesub endfont         MiftranBoldFixed `</TT></B>'>
<typesub startfont       MiftranBoldItalic `<B><I>'>
<typesub endfont         MiftranBoldItalic `</I></B>'>
<typesub startfont       MiftranCode `<code>'>
<typesub endfont         MiftranCode `</code>'>
<typesub startfont       MiftranFixed `<TT>'>
<typesub endfont         MiftranFixed `</TT>'>
<typesub startfont       MiftranItalic `<I>'>
<typesub startfontangle  MiftranItalic `<I>'>
<typesub endfont         MiftranItalic `</I>'>
