#Miftran rc file for Miftran Users Guide

#Set up default document title
<init `%1"Miftran Users Guide"L'>

#Specify output files
<outfilename `chap%d.htm'>
<altoutfilename `d%d.txt'>

#Set up aliases for the actual paragraph tags used in our document.
#Left side is what appears in the MIF document, right side is what
#appears in the standard <include> files.
<tagalias Chapter MiftranChapter>
<tagalias Section MiftranH2>
<tagalias Subsection MiftranH3>
<tagalias Subsubsection MiftranH4>

<tagalias Normal MiftranBody>
<tagalias Body MiftranBody>
<tagalias Note MiftranBody>
<tagalias Title MiftranBody>
<tagalias Subtitle MiftranBody>

<tagalias Code MiftranCode>
<tagalias Bullet MiftranBullet>
<tagalias Contbullet MiftranContbullet>
<tagalias Step MiftranStep>
<tagalias Step1 MiftranStep1>
<tagalias Contstep MiftranContstep>
<tagalias Substep MiftranSubstep>
<tagalias Substep1 MiftranSubstep1>

#Set up which paragraph types to ignore (headers and footers)
<tagalias `Header' MiftranIgnore>
<tagalias `Footer' MiftranIgnore>

#Set up aliases for the actual font tags used in our document
<tagalias Bold MiftranBold>
<tagalias Emphasis MiftranItalic>
<tagalias Italic MiftranItalic>
<tagalias Computer MiftranFixed>

#Get rid of tabs in headers
<typestringsub MiftranH2 `\t' ` '>
<typestringsub MiftranH2 `\\t' ` '>
<typestringsub MiftranH2 `\\x11 ' ` '>
<typestringsub MiftranChapter `\t' ` '>
<typestringsub MiftranChapter `\\t' ` '>
<typestringsub MiftranChapter `\\x11 ' ` '>

<include `std.rc'>	#pick up standard stuff from library of include files

#end
